{{!--
Re-usable card for linking to posts
--}}

<article class="{{post_class}}">
  <a href="{{url}}">
		<figure class="block rounded-lg border border-gray-200 transform transition duration-200 ease-in-out transform hover:-translate-y-1 hover:scale-110">
			{{#if feature_image}}
			<div class="col-start-1 row-start-1 block">
				<img
					class="inset-0 w-full h-full object-cover rounded-lg"
					srcset="{{> srcset}}"
					sizes="(max-width: 1000px) 1000px, 2000px"
					loading="lazy"
					src="{{img_url feature_image size="xl"}}"
					alt="{{title}}"
				/>
			</div>
			{{else}}
			<div class="col-start-1 row-start-1 block">
				<img
					class="inset-0 w-full h-full object-cover rounded-lg"
					srcset="{{asset "images/no-image.svg"}}"
					sizes="(max-width: 1000px) 1000px, 2000px"
					loading="lazy"
					src="{{asset "images/no-image.png"}}"
					alt="No Feature Image"
				/>
			</div>
			{{/if}}
			<div class="pt-6 md:p-8 text-center md:text-left space-y-4">
				<figcaption>
					<h1 class="flex-auto text-xl font-semibold">
						{{title}}
					</h1>
					<div class="class="text-sm text-gray-500"">
						<time datetime="{{date format="YYYY-MM-DD"}}">
							{{date format="D MMM YYYY"}}
						</time> 
						<span class="bull">&bull;</span> {{reading_time}}
					</div>
				</figcaption>
			</div>
		</figure>
	</a>
</article>