<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{meta_title}}</title>
  <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

	{{ghost_head}}
</head>

<body>
	<div class="site">
		<div class="site-content">
			{{{body}}}
			Yo!
      <button class="w-1/2 flex items-center justify-center rounded-md border border-gray-300" type="button">Add to bag</button>
		</div>
	</div>

	{{ghost_foot}}
</body>

</html>