<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{meta_title}}</title>
  <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

	{{ghost_head}}
</head>

<body>
  {{> header}}
  <div class="container mx-auto">
    {{#is "home"}}
      {{> hero}}
    {{/is}}
    <div class="md:py-20 py-12">
      {{{body}}}
    </div>
  </div>

	{{ghost_foot}}
</body>

</html>