<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{meta_title}}</title>
  <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

	{{ghost_head}}
</head>

<body>
	<div class="site">
		<div class="site-content">
			{{{body}}}
			Yo!
      <button class="bg-indigo-500 hover:bg-indigo-600 focus:outline-none rounded-md px-6 py-3 mx-auto block text-white transition duration-500 ease-in-out mt-32">Open modal</button>
		</div>
	</div>

	{{ghost_foot}}
</body>

</html>