{{!< default}}

{{#post}}
<article class="{{post_class}}">
	<header class="block md:flex rounded-lg p-4 border border-gray-200">
	
		{{#if feature_image}}
		<div class="col-start-1 row-start-1 block md:flex sm:col-start-2 sm:row-span-3">
			<img
				class="inset-0 w-full h-full object-cover"
				srcset="{{> srcset}}"
				sizes="(max-width: 1000px) 1000px, 2000px"
				loading="lazy"
				src="{{img_url feature_image size="xl"}}"
				alt="{{title}}"
			/>
		</div>
		{{/if}}

		<div class="flex-auto p-6">
			<div class="flex flex-wrap">
				<h1 class="flex-auto text-xl font-semibold">
					{{title}}
				</h1>
				<div class="text-md font-semibold text-gray-500">
					Written by {{#foreach authors}}<a href="{{url}}">{{name}}</a>{{/foreach}}
				</div>

				{{#if custom_excerpt}}
				<div class="w-full flex-none text-md font-medium text-gray-500 mt-2">
					{{custom_excerpt}}
				</div>
				{{/if}}
				
				<p class="text-sm text-gray-500">
					<time datetime="{{date format="YYYY-MM-DD"}}">
						{{date format="D MMM YYYY"}}
					</time> 
					<span class="bull">&bull;</span> {{reading_time}}
					<span class="bull">&bull;</span> 
					{{#primary_tag}}
						<a
							class="post-tag-{{slug}}"
							href="{{url}}">
							{{name}}
						</a>
					{{/primary_tag}} 
					<span class="bull">&bull;</span> 
					<div class="flex-none">
						<a class="inline-block rounded-full relative px-2"
								href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}"
								target="_blank"
								rel="noopener noreferrer">
							<div class="w-5 h-5 rounded-full flex items-center">
								{{> icons/facebook}}
							</div>
						</a>
						<a class="inline-block hover:bg-gray-200 rounded-full relative"
								href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}"
								target="_blank"
								rel="noopener noreferrer">
							<div class="w-5 h-5 rounded-full flex items-center">
								{{> icons/twitter}}
							</div>
						</a>
					</div>
				</p>
			</div>
		</div>
	</header>
	
	<div class="py-5">
		{{> content}}
	</div>
</article>

<aside>
	<div>
		<div>
			{{#next_post}}
			<a href="{{url}}">
				{{> "icons/arrow-left"}} <h4>{{title}}</h4>
			</a>
			{{/next_post}}
		</div>
		<div>
			{{#prev_post}}
			<a href="{{url}}">
				<h4>{{title}}</h4> {{> "icons/arrow-right"}}
			</a>
			{{/prev_post}}
		</div>
	</div>
</aside>
{{/post}}
